# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Coverage and build directories
coverage/
dist/
build/

# Environment variables
.env
.env.local

# IDE/Editor settings
.vscode/
.idea/

# Personal
New*.tsx
frontend/throw.*s
frontend/template.*sx
old_files/
frontend/naso/
frontend/src/routes.tsx
frontend/src/TestBtn.tsx
frontend/noend/