/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border: 2px solid var(--color2);
  border-radius: 24px;
  padding: 2rem;
  max-width: 600px;
  margin: auto;
  margin-bottom: 3rem;
}

h3.socials-header-contact {
  margin: 1rem 0;
  font-weight: var(--font-weight-light);
}

.contact-form label {
  display: block;
}

.input-field {
  width: 100%;
  font-family: var(--font-family);
}

.input-field input,
.input-field textarea {
  padding: 0.5rem;
  border: 2px solid var(--color2);
  border-radius: 8px;
  font-family: var(--font-family);
  font-size: 1rem;
  max-width: 576px;
  color: var(--color2);
  background-color: var(--color1);
}

.name-field input,
.email-field input,
.input-field textarea,
.tel-input-container input {
  width: calc(100% - 2rem);
}

.contact-form button {
  background-color: var(--color1);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  border: var(--border);
  font-family: var(--font-family);
  font-size: 1rem;
}

.contact-form button:disabled {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  cursor: not-allowed;
}

.contact-form button:not(:disabled) {
  cursor: pointer;
  color: var(--color2);
}

.contact-form button:hover:not(:disabled) {
  background-color: var(--dark-gray);
  color: var(--color3);
}

.socials-header-contact {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}

/* Input Fields */
.tel-field label {
  align-self: center;
  width: 100%;
  display: block;
}

.tel-field .country-code {
  display: block;
}

.tel-field select,
.category-field select {
  padding: 0.5rem;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 1rem;
  max-width: 160px;
}

.tel-input-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 0.5rem;
}

.error {
  border-color: var(--color4) !important;
}

.error-message {
  color: var(--color4);
  font-size: 0.9rem;
  margin-top: 0.25rem;
}

.error-message svg {
  vertical-align: middle;
}

/* Redirect */
.redirect-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 2rem 1rem;
  overflow: hidden;
}

h2.redirect-inner {
  font-weight: var(--font-weight-light);
  text-align: center;
  background-color: var(--color1);
  z-index: 1;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 5px;  
}

.redirect-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 10vw;
  height: 100vw;
  background: linear-gradient(var(--color1), var(--color2));
  animation: rotate 2s linear infinite;
  transform-origin: top center;
  top: 50%;
  z-index: 0;
}


@media screen and (max-width: 576px) {
  .tel-input-container select {
    width: 75px;
  }

  .tel-input-container input {
    width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 768px) {
  .contact-form {
    margin: auto;
  }

  .info h3 {
    font-size: 1.5rem;
  }
}
