.order-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  max-width: 900px;
}

.first-order-item {
  border-top: 1px solid #ccc;
}

.order-item .item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.order-item p {
  display: inline-block;
  margin: 0.5rem 0.5rem 0;
  font-size: 1.5rem;
}

.counter-container button {
  background-color: var(--color1);
  color: var(--color2);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  border: 2px solid var(--color2);
}

.counter-container button.increment:hover {
  color: #83f28f;
}

.counter-container button.decrement:hover {
  color: red;
}

@media screen and (max-width: 600px) {
  .order-item {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
  }
  .counter-container {
    margin-top: 10px;
  }
}
