/* Reservation Page */
.reservation h1 {
  font-weight: var(--font-weight-light);
  text-align: center;
}

.booking-options {
  display: flex;
  flex-direction: row;
  max-width: 1022px;
  margin: auto;
}

.booking-options > * {
  border: 2px solid var(--color2);
  border-radius: 16px;
  padding: 3rem;
  margin: 1rem;
  width: 50%;
}

.booking-options select {
  padding: 0.75rem 1.5rem;
  border-width: 2px;
  border-radius: 12px;
  background-color: var(--color1);
  color: var(--color2);
}

.booking-options select,
.booking-options option {
  font-family: "trajan pro regular", serif;
}

.booking-schedule {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Table Arrangement */
.table-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1.5fr 1.5fr 1fr 2fr;
  justify-items: center;
  align-items: center;
  height: 100%;
  margin: auto;
}

.window-row,
.mid-row {
  grid-column: span 2;
}

.big-table {
  grid-column: span 6;
}

.selection-area,
.table-not-allowed {
  height: 100%;
  width: 100%;
  border: 2px solid var(--light-gray);
  border-radius: 10px;
}

.selection-area {
  background-color: var(--dark-gray);
  cursor: pointer;
}

.table-not-allowed {
  background-color: var(--light-gray);
  cursor: not-allowed;
}

.selection-area:hover {
  background-color: var(--color2);
}

.two-seater .selection-area,
.two-seater .table-not-allowed {
  border-radius: 50%;
  aspect-ratio: 1;
}

.selected-table {
  background-color: green;
}

.table-not-available {
  background-color: var(--color4);
  cursor: not-allowed;
}

.table {
  width: 80%;
  height: 80%;
}

form.duration {
  margin: 0.5rem 1rem;
}

button.confirm-booking {
  background-color: var(--color1);
  border: var(--border);
  padding: 1rem 2rem;
  border-radius: 1rem;
  font-family: var(--font-family);
  font-size: 1.5rem;
  color: var(--color2);
  display: block;
  margin: 2rem auto;
}

button.confirm-booking:hover {
  background-color: var(--color2);
  color: var(--color1);
  cursor: pointer;
}

.duration p {
  text-align: left;
}

/* Modal */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal {
  display: grid;
  grid-template-rows: 0.5fr 2fr 1fr;
  background-color: var(--color1);
  width: 80%;
  border: 5px solid #fff;
  border-radius: 1rem;
  padding: 1.5rem;
}

.modal button {
  background-color: var(--color1);
  border: var(--border);
  border-radius: 1rem;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color2);
  padding: 1rem;
  margin: 0 0.5rem;
}

.modal button.btn-close {
  border: none;
  margin: 0;
  padding: 0;
  color: var(--color1);
}

.btn-close svg {
  fill: var(--color2);
  height: 3rem;
  width: 3rem;
}

.btn-close svg:hover {
  filter: drop-shadow(0 0 10px red);
}

.modal button:hover {
  background-color: var(--dark-gray);
  color: var(--color3);
  cursor: pointer;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.modal-question {
  margin-top: 0.5rem
}

.modal-footer {
  padding-top: 6px;
  align-self: end;
}

.modal-footer,
.modal-header {
  text-align: right;
}

@media screen and (min-width: 576px) {
  .booking-options > * {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .booking-options {
    flex-direction: column;
    align-items: center;
  }
}
