@font-face {
  font-family: "Trajan Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/TrajanPro-Regular.woff");
}

:root {
  --font-family: "Trajan Pro Regular", serif;
  --color1: #001f3f;
  --color2: #daa520;
  --color3: #ffffff;
  --color4: #b22222;
  --dark-gray: #333333;
  --light-gray: #f5f5f5;
  --section-margin: 1.5rem;
  --gutter: 16px;
}

body {
  background-color: var(--color1);
  color: var(--color2);
  font-family: var(--font-family);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  background-color: var(--color3);
  width: 75%;
  border: none;
  text-align: center;
}

/* Navbar */
.navbar {
  background-color: var(--color1);
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.navbar > img {
  padding: 0 var(--gutter);
}

.hamburger-menu {
  cursor: pointer;
}

.dropdown-header li,
button {
  text-decoration: none;
  cursor: pointer;
}

.dropdown-header {
  display: none;
  width: calc(60vw - var(--gutter));
}

.dropdown-header li {
  padding: 10px 5px;
}

.dropdown li:hover,
button:hover,
.dropdown-header li:hover {
  font-weight: 800;
  transition: border-radius 0.05s;
}

.dropdown-header li:hover {
  background-color: var(--color2);
  color: var(--color1);
  border-radius: 8px;
}

.dropdown-header button:hover {
  background-color: #fff0f0;
}

.dropdown {
  background-color: var(--color4);
  position: absolute;
  overflow: hidden;
  width: 100%;
  opacity: 50%;
  z-index: 2;
  transition: height 0.3s ease-in-out;
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.dropdown li {
  cursor: pointer;
}

.dropdown.open {
  height: 45vh;
}

.dropdown.closed {
  height: 0;
}

/* About Section */
.desc,
.reviews {
  text-align: center;
}

.desc {
  margin: 2rem 0;
}

.desc > p {
  padding: 1rem 10%;
}

.slogan {
  font-style: italic;
  font-weight: 600;
  margin: 0.5rem 0 0 0;
}

/* Review Section */

.reviews {
  text-align: center;
  padding: 1rem;
  margin: var(--section-margin) 0;
  font-size: 1rem;
}

.review-headline {
  margin: 2rem;
}

.reviews article {
  background-color: var(--light-gray);
  border-radius: 8px;
  margin: 1.5rem;
  padding: 2rem 40px 1rem;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.review-name {
  text-align: right;
  font-weight: 600;
}

/* Footer */
footer {
  text-align: center;
}

.info {
  background-color: var(--color5);
  padding: 1rem 1rem 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info li {
  font-size: 0.9rem;
}

.socials-container {
  display: flex;
  justify-content: center;
}

.socials-container img {
  width: 2.5rem;
  aspect-ratio: 1;
  margin: 0 0.5rem;
}

.call-to-action {
  text-align: center;
  padding: 0;
}

/* Media Queries */
@media (min-width: 768px) {
  .socials-container img {
    width: 3rem;
  }

  .hamburger-menu {
    display: none;
  }

  .dropdown-header {
    display: block;
    font-size: 16px;
  }

  .dropdown-header ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1.75rem;
  }

  .reviews {
    display: flex;
    align-items: stretch;
    justify-content: center;
  }

  .reviews h2 {
    width: 100%;
    font-size: 4rem;
    margin: auto;
    padding: 0 2rem;
    line-height: 1;
  }
  .reviews article {
    height: auto;
    margin: 1.5rem;
  }
}

/* Contact Form */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: var(--section-margin);
}

form input,
form textarea {
  width: 80%;
  padding: 0.5rem;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 1rem;
}

form button {
  background-color: var(--color2);
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 1rem;
}

form button:disabled {
  background-color: var(--light-gray);
  color: var(--dark-gray);
  cursor: not-allowed;
}

form button:not(:disabled) {
  cursor: pointer;
  color: var(--dark-gray);
}

form button:hover:not(:disabled) {
  background-color: var(--dark-gray);
  color: var(--color3);
}

/* Input Fields */
.tel-field {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 80%;
  min-width: 280px;
}

.tel-field label {
  align-self: center;
  width: 100%;
  display: block;
}

.tel-field select {
  padding: 0.5rem;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  font-family: var(--font-family);
  font-size: 1rem;
  min-width: 80px;
  max-width: 160px;
  width: 20%;
}

.tel-field input {
  width: 60%;
}
/* Menu Section */
.course-container {
  margin: 3rem 20%;
  color: var(--color4);
}

.heading-course,
.menu-course {
  background-color: var(--light-gray);
  border: 2px solid black;
  border-radius: 10px;
}

.heading-course {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading-course h2 {
  padding: 0 5%;
}

.heading-course .icon {
  height: 48px;
  aspect-ratio: 1;
}

.menu-course {
  height: 500px;
}


