.nudge {
  margin: 2rem 0;
}
.nudge h2 {
  text-align: center;
  margin: 2rem 0;
}

.nudge-action {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nudge-action p {
  margin: 1.6rem;
}

.nudge-action a {
  background-color: var(--color1);
  color: var(--color2);
  padding: 0.75rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  border: var(--border);
  border-radius: 1rem;
}

.nudge-action a:hover {
  transition: background-color 0.3s ease-in-out;
  transform: scale(1.05);
  background-color: var(--color3);
  color: var(--color4);
  animation: none;
}
